# ===== CORE DJANGO =====
django
django-environ

# ===== DATABASE =====
PyMySQL
Pillow
qrcode[pil]             # Pour génération QR codes

# ===== WEB SERVER =====              # WSGI HTTP Server (pour production)
whitenoise             

requests
pytz        
